<div class="home-container">
    <section class="hero">
      <h1>Witaj w Antract!</h1>
      <p class="subtitle">Okiełznaj z nami świat muzyki!</p>
    </section>
  
    <section class="features">
      <div class="feature-card" routerLink="/instruments">
        <h3>Sprawdź ceny instrumentów!</h3>
        <p>Dopasuj ceny instrumentów w oparciu o analizę popularnych sklepów muzycznych!</p>
      </div>
      <div class="feature-card" routerLink="/lessons">
        <h3>Naucz się teorii muzyki!</h3>
        <p>Skorzystaj z lekcji i ćwiczeń, które pozwolą Ci opanować wiedzę z zakresu teorii muzyki, oraz przygotują Cię do nadchodzących egzaminów!</p>
      </div>
      <div class="feature-card" routerLink="/tabs">
        <h3>Tabulatury nutowe</h3>
        <p>Poznaj zapisy nutowe najpopularniejszych kompozytorów!</p>
      </div>
    </section>
  </div>